@import "tailwindcss";

@layer base {
    button {
        cursor: pointer;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    button:hover {
        /* Example: Darken the button and lift it slightly */
        filter: brightness(90%);
        transform: translateY(-1px);
    }

    button:active {
        transform: translateY(0px);
    }
}